*{
    padding: 5px;
    margin: 5px;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: lightgrey;
}

header {
    color: brown;
    background-color: burlywood;
    margin-top: 5px;
    font-size: 2em;
    font-weight: bold;
}

footer {
    background-color: cornflowerblue;
}